
                                                    <!-- its a modal card component that pops out  -->
<div class="card h-100">


  <div class="card-header">
    <h3 class="card-title">Images</h3>
  </div>

  <div class="card-body">
    <!-- On smaller screens it behaves as a column, on other screens its back to row! -->
    <div class="d-flex flex-md-row flex-sm-column flex-wrap">
      <!-- left hand side column -->

      <div class="col-8 p-1 scrolly" >

        <ng-container *ngIf="images$ | async as images">

          <div class="d-flex flex-wrap">
            <div *ngFor="let image of images"
                  (click)="selectImage(image)"
                  style="min-width: 100px; justify-content: center; cursor: pointer; color: white; border-radius: 10px; border: solid white;"
                  class="me-1 bg-dark d-flex align-items-center flex-column border p-3">

              <img [src]="image.fileUrl" [title]="image.title" style="height: 100px; overflow: auto">
              <span class="mt-1">{{image.title}}</span>
            </div>
          </div>

        </ng-container>

      </div>

      <!-- Right hand side column -->
      <div class="col-4 p-3">
        <h5>Upload Image</h5>
        <form #form = "ngForm" (ngSubmit)="uploadImage()">
          <div class="mt-3">
            <input type="file" class="form-control" (change)="onFileUploadChange($event)">
          </div>

          <div class="mt-3">
            <input type="text" class="form-control" placeholder="File Name" name="filename" [(ngModel)]="model.fileName">
          </div>

          <div class="mt-3">
            <input type="text" class="form-control" placeholder="Title" name="title" [(ngModel)]="model.title" >
          </div>

          <div class="mt-3">
            <button type="submit" class="btn btn-success">Upload</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
