<div class="container mb-4">
  <h1 class="mt-3">Edit BlogPost</h1>

  <ng-container *ngIf="model">
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
      <div class="mt-3">
        <label for="title" class="form-label"><h5>Title</h5></label>
        <input
          type="text"
          id="title"
          name="title"
          class="form-control"
          [(ngModel)]="model.title"
        />
      </div>

      <div class="mt-3">
        <label for="urlHandle" class="form-label"><h5>Url Handle</h5></label>
        <input
          type="text"
          id="urlHandle"
          name="urlHandle"
          class="form-control"
          [(ngModel)]="model.urlHandle"
        />
      </div>

      <div class="mt-3">
        <label for="shortDescription" class="form-label"
          ><h5>Short Description(Summary)</h5></label
        >
        <input
          type="text"
          id="shortDescription"
          name="shortDescription"
          class="form-control"
          [(ngModel)]="model.shortDescription"
        />
      </div>

      <div class="mt-3">
        <label for="featuredImageUrl" class="form-label"><h5>Featured Image Url</h5>
        </label>

        <ng-container *ngIf="model.featuredImageUrl !== ''">
          <!-- checks if the model attribute (featured image url) is empty or not, only renders when visible -->
          <div class="d-flex justify-content-center">
            <img
              [src]="model.featuredImageUrl"
              height="300"
              class="my-3"
              style="border-radius: 20px"
              alt="if image doesnt show link doesnt work!"
            />
          </div>
        </ng-container>
        <div class="container d-flex">
          <input
            type="text"
            id="featuredImageUrl"
            name="featuredImageUrl"
            class="form-control"
            [(ngModel)]="model.featuredImageUrl"
          />
          <button type="button" class="btn btn-dark d-flex justify-content-center ms" (click)="openImageSelector()">Select Image</button>
        </div>
      </div>

      <div class="mt-3"></div>
      <label for="content" class="form-label"><h4 class="ms-2">Content</h4></label>
      <div class="mt-3">
        <div class="d-flex flex-row">
          <!-- Where you write content -->
          <div class="col-6 p-2">
            <textarea
              name="content"
              id="content"
              class="form-control"
              style="height: 350px; max-height: 350px"
              [(ngModel)]="model.content"
            ></textarea>
          </div>
          <!-- Livv preview goes here -->
          <div class="col-6 p-2" style="max-height: 350px; overflow-y: scroll">

            <markdown>

            </markdown>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <label for="publishedDate" class="form-label"><h5>Published Date</h5></label>
        <input
          type="date"
          id="publishedDate"
          name="publishedDate"
          class="form-control"
          [(ngModel)]="model.publishedDate"
          (ngModelChange)="model.publishedDate = $event"
        />
      </div>

      <div class="mt-3">
        <label for="author" class="form-label"><h5>Author</h5></label>
        <input
          type="text"
          id="author"
          name="author"
          class="form-control"
          [(ngModel)]="model.author"
        />
      </div>

      <div class="form-check mt-3">
        <input
          class="form-check-input"
          name="isVisible"
          type="checkbox"
          id="isVisible"
          [(ngModel)]="model.isVisible"
        />
        <label class="form-check-label" for="isVisible"> Visibility </label>
      </div>

      <div class="mt-3">
          <label for="categories" class="form-label"><h5>Categories</h5></label>
          <ng-container *ngIf="categories$ | async as categories">
          <!-- <div class="dropdown">
              <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
              </button>
              <ul class="dropdown-menu" *ngFor="let category of categories">
                <li><a class="dropdown-item" href="#">{{category.name}}</a></li>
              </ul>
            </div> -->
            <select
            class="form-control"
            name="categories"
            id="categories"
            multiple
            [(ngModel)]="selectedCategories">
                <option *ngFor="let category of categories" [value]="category.id" class="text-center">
                  {{category.name}}
                </option>
            </select>
          </ng-container>
        </div>

      <div class="mt-3 d-flex row">
        <button type="submit" class="btn btn-dark" style="width: 49%;">Save</button>
        <button type="submit" class="btn btn-danger ms-1" style="width: 49%;" (click)="onDelete()">Delete</button>
      </div>
    </form>
  </ng-container>
</div>

<div class="images-container-modal" [ngClass]="{'d-block': imageSelectorVisibilityFlag, 'd-none': !imageSelectorVisibilityFlag}">
  <button type="button" class="btn btn-dark" style="position: fixed; top: 10px; right: 10px;" (click)="closeModal()">X</button>
  <app-image-selector>

  </app-image-selector>
</div>

